<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <!--Perfil-->
    <div class="header-rectangle">
        <div class="brand-info">
            <img src="assets/img/Logo_CoticoStay_Blanco.png" alt="Logo de la Marca" class="brand-logo">
            <span class="marca">CoticoStay</span>
        </div>
        <div class="icons-container" style="justify-content: left;">
            <i class="fas fa-question-circle" style="margin-right: 20px;"></i>
            <i class="fas fa-cog"></i>
        </div>
        <div class="profile-info">
            <div class="profile-details">
                <span class="profile-name">Nombre del Usuario</span>
                <br>
                <span class="profile-role">Cargo del Usuario</span>
            </div>
            <img src="https://via.placeholder.com/40" alt="Foto de Perfil" class="profile-image">
        </div>
    </div>

    <!--Menú superior-->
    <div class="container" style="width: 90%; margin-top: 6%;">
        <nav class="navbar navbar-expand-lg bg-black">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarWeb">
                <ul class="navbar-nav mx-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/bookings">Reservas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/accommodations-and-services">Aloamientos y servicios</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/check-in">Check-In</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/check-out">Check-Out</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/staff-management">Gestión de personal</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Informes y estadísticas</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </div>
    <div class="container" style="width: 87.9%; background-color: white; display: flex; flex-direction: column;" >
        <!-- Encabezado, buscador y filtro -->
        <div class="input-group d-flex justify-content-center mt-4 mb-3">
            <div class="input-group d-flex mt-3" style="margin-left: 250px;">
                <div class="subtittle ml-5">
                    <h1 class="subtittle mb-0">Check-Out</h1>
                    <p class="text ml-3">Busca una reserva</p>
                </div>
            </div>
            <div class="d-flex flex-column align-items-start ml-3">
                <div class="form-outline" data-mdb-input-init>
                    <input id="search-focus" type="search" class="form-control" style="width: 400px" placeholder="Nombre del huésped">
                </div>
            </div>
            <button type="button" class="btn btn-simple align-self-center" data-mdb-ripple-init style="height: 100%;">
                <i class="fas fa-search"></i>
            </button>    
        </div>
        <!-- Lista de reservas -->
        <div class="row reserva-list justify-content-center mt-3">
            <!-- Reserva alojamiento -->
            <div class="col-md-10 col-lg-9 reserva-item mb-4">
                <div class="row align-items-center">
                    <!-- Imagen de la reserva -->
                    <div class="col-md-4 text-center">
                        <img src="https://via.placeholder.com/500x300" alt="Imagen Reserva" class="img-fluid" style="max-width: 100%; height: auto;">
                        <span class="text3">[Nombre del alojamiento]</span>
                    </div>
                    <!-- Información de la reserva -->
                    <div class="col-md-8">
                        <div class="info-details text-start">
                            <p class="text"><span class="text3">Reserva a nombre de:</span> [nombre]</p>
                            <p class="text"><span class="text3">Cantidad de personas:</span> [cantidad] personas</p>
                            <p class="text"><span class="text3">Servicios del hospedaje:</span> [servicios]</p>
                            <p class="text"><span class="text3">Servicios adicionales:</span> [servicios]</p>
                            <p class="text"><span class="text3">Fecha de salida:</span> [fecha] a las [hora]</p>
                            <p class="text"><span class="text3">Total a pagar:</span> $[precio]</p>
                        </div>
                        <!-- Botón de Check-In centrado -->
                        <div class="text-center mt-3">
                            <button type="button" class="btn btn-primary text3">Check-Out</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>