<body>
    <div class="container-fluid" style="background-image: linear-gradient(to bottom right, rgba(90, 190, 73, 63%), rgba(34, 52, 88, 70%));">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
              <div class="card rounded-3 text2">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">
      
                      <div class="text-center mb-4">
                        <img src="assets/img/Logo_CoticoStay_Color.png" alt="Logo CoticoStay"
                          style="width: 185px;" alt="logo">
                        <span class="mt-4 mb-5 pb-1 marca">CoticoStay</span>
                        <hr style="border: none; height: 6px; background-image: linear-gradient(to right, rgba(90, 190, 73, 100), rgba(34, 52, 88, 100)); margin: 0 auto; border-radius: 10px;">
                      </div>
      
                      <form>
                        <div class="form-group mt-4">
                          <input type="email" id="correoElectronico" name="correoElectronico" class="form-control" placeholder="Ingrese su correo electrónico">
                        </div>
                        <div class="form-group mt-4">
                          <input type="password" id="contraseña" name="contraseña" class="form-control" placeholder="Ingrese su contraseña">
                          <p class="text-center text mt-3" style="font-size: 13px;">¿Olvidaste la contraseña? <a href="#" style="color: red;">Recuperar Contraseña</a></p>
                        </div>
      
                        <div class="text-center pt-1 mt-3 pb-1">
                          <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary-color btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/bookings">Login</button>
                        </div>
                        <div class="mt-3">
                            <p class="text-center text" style="font-size: 13px;">¿Desea comenzar a utilizar esta plataforma para tu hotel? <a href="/#">Adquiere tu plan</a></p>
                            <p class="text-center text" style="font-size: 13px;">Si ya adquiriste tu plan, pero no has realizado el registro, complétalo <a href="#">Aquí</a></p>
                        </div>
      
                      </form>
      
                    </div>
                  </div>
                  <div class="col-lg-6 d-flex align-items-center justify-content-center" style="overflow: hidden;">
                    <img src="assets/img/Foto_Login.jpg" alt="Foto_login" class="login-image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>    
</body>
