/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';




// Nombre marca
.marca {
    font-family: "Lilita One", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
}

// Oprimir boton
.nav-link {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    border-radius: 15px;
}
.nav-item:hover .nav-link {
    background-color: white;
    color: black;
    font-weight: 500;
  }

.gradient-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #4A4C66, #25D275);
    z-index: -1; 
}

// Tipo de letra
.tittle {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: black;
    border-radius: 5px;
}

.tittle2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 741;
    font-style: normal;
    border-radius: 5px;
  }

.subtittle {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
    font-size: 20px;
}

.text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 15px;
}

.text2 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black;
    font-size: 15px;
}

.text3 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black;
    font-size: 15px;
}


// Tarjetas
.card-tittle {
    background-image: linear-gradient(to bottom right, rgba(90, 190, 73, 63%), rgba(34, 52, 88, 70%));
    border: none;
    padding: 15px;
}

.card-body {
    background-color: white;
    border: none;
    padding: 20px;
}

body {
    background-color: #e6e6e7;
    padding-top: 0px; 
    margin: 0;
}

.container-degrade-principal {
    background-image: linear-gradient(to bottom right, rgba(90, 190, 73, 100%), rgba(34, 52, 88, 100%));
    border: none;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}

.container-degrade {
    background-image: linear-gradient(to bottom right, rgba(90, 190, 73, 63%), rgba(34, 52, 88, 70%)); 
    border: none;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}

// Botones
.btn-primary {
    background-color: #25D275;
    border: none;
    padding: 7px;
    transition: background-color 0.3s ease;
    &:active {
        background-color: #3E68BA;
    }
}

.btn-info {
    background-color: #071955;
    color: white;
    border: none;
    padding: 7px;
}

.btn-info:hover {
    background-color: #051535;
    color: white;
}  

.btn-continue {
    background-color: #3E68BA;
    border: none;
    transition: background-color 0.3s ease;
    color: white;
}

.btn-continue:hover {
    background-color: #475f91;
    font-weight: 500;
    color: white;
    font-weight: 700;
}

.btn-primary-color {
    background: linear-gradient(to right, #4A4C66, #25D275);
    border: none;
    color: white;
    font-weight: 800;
}

.btn-primary-color:hover {
    background: black;
    font-weight: 800;
    color: white;
}

.btn-simple {
    background-color: black;
    color: white;
    font-weight: 500;
}
.btn-simple:hover {
    background-color: black;
    color: white;
    font-weight: 500;
}

.col-md-2 .btn.btn-app {
    background-color: black;
    border: none;
    color: white;
}

.btn-reservar {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 500;
}

.btn-reservar:hover {
    background-color: #25D275;
    font-weight: 500;
}

// Header profile //
.header-rectangle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, rgba(90, 190, 73, 100%), rgba(34, 52, 88, 100%));
    color: #fff;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;  
}

.header-rectangle.scrolled {
    background-image: linear-gradient(to right, rgba(142, 12, 75, 0.8), rgba(0, 25, 51, 80%));
}

// Detalles de perfil
.brand-info, .profile-info {
    display: flex;
    align-items: center;
}

.profile-details {
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
}

.profile-name {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin-bottom: -0.8rem;
}

.profile-role {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    opacity: 0.8;
    margin-top: -0.9rem; 
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    margin-left: 30px;
}

.brand-logo {
    width: 56px;
    height: 56px;
    object-fit: cover;
    margin-right: 10px;
    margin-left: 20px;
}

.icons-container {
    display: flex;
    align-items: center;
    margin-right: 20px; 
    margin-left: auto; 
}

// Galeria
.gallery-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-bottom: -0.9rem;
}

.separador {
    width: 3px;
    height: 100%;
    color: black;
}

// reservas
.reserva-item {
    background-color: #E6E7EA;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px; 
}

.color-container {
    background-color: #E6E7EA;
    padding: 10px;
    margin-bottom: 20px;
    width: 60%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

// Popover
.popover-custom .popover-header {
    background-color: #00ffaa;
    text-align: center;
}

.popover-custom .popover-body {
    background-image: rgb(235, 246, 250);
}

.login-image {
    width: 100%;
    max-width: 600px;  
    height: 100%;      
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

// imagenes
.image-container-add {
    width: 400px; 
    height: 260px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    position: relative;
}
  
.image-container-add img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto; 
}

.img-fluid-view{
    width: 400px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    position: relative; 
}

.img-flud-view img {
    min-width: 100%;
    min-height: 100%;
    width: auto; 
    height: auto; 
}

.img-fluid-staff{
    width: 200px; 
    height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    position: relative; 
}

.img-fluid-staff-amp{
    width: 300px; 
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.img-fluid-reservation{
    width: 200px; 
    height: 150px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.img-fluid-edit{
    width: 230px; 
    height: 140px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.img-fluid-rooms{
    width: 250px; 
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    position: relative;
}

.imgPage {
    width: 170px;
    margin-bottom: 20px;
}

.btn-page {
    padding: 10px 20px;
    background: linear-gradient(to bottom right, rgba(90, 190, 73, 80%), rgba(34, 52, 88, 80%)); /* Color del botón */
    color: white;
    border: none;
    border-radius: 5px;
    width: 200px;
    font-weight: 700;
    text-align: center;
}

// Adicionales
.fondo-degradado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgba(90, 190, 73, 100%), rgba(34, 52, 88, 100%));
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadro {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    height: 350px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.btn-simple-page {
    background-color: black;
    color: white;
    font-weight: 500;
    width: 200px;
    height: 35px; 
    line-height: 0px;
}

.btn-simple-page:hover {
    background-color: black;
    color: white;
    font-weight: 500;
}

.alert-small {
    font-size: 12px;
    width: 200px;
    animation: shake 0.5s infinite alternate;
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    100% { transform: translateX(10px); }
  }